In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('genero-nomes-7d71389d25584ac4b690706243b52178.csv')

In [3]:
df.drop(labels=['ratio', 'group_name', 'frequency_female', 'frequency_male', 'frequency_total', 'frequency_group'], inplace=True, axis=1)

In [4]:
df['alternative_names_list']=df['alternative_names'].str.split('|')

In [5]:
df.drop(['alternative_names'], axis=1, inplace=True)

In [6]:
df.head()

  first_name classification                             alternative_names_list
0     AABRAO              M  [ABRAAO, ABRAHAO, ABRAO, ABRHAO, ABRRAO, ADRAA...
1   AADRIANA              F  [ABRIANA, ADRAINA, ADRIANA, ADRIANNA, ADRRIANA...
2   AADRIANO              M              [ABRIANO, ADRIANNO, ADRIANO, ADRYANO]
3    AAILTON              M  [AELTOM, AELTON, AHILTON, AILTHON, AILTOM, AIL...
4      AALAN              M  [AHLAM, AILAM, AILAN, ALAAN, ALAM, ALAN, ALANN...

df[:4].alternative_names_list.apply(pd.Series) \ # separar cada item da lista em uma coluna
    .merge(df, right_index = True, left_index = True) \ # colocar em cada linha os atributos que j√° tinha antes
    .drop(["alternative_names_list"], axis = 1) \ # tirar a linha com a lista
    .melt(id_vars = ['classification'], value_name = "alternative_names_list") \
    .drop("variable", axis = 1) \
    .dropna()

In [7]:
df_first_name = df.drop('alternative_names_list', axis=1).copy()

In [8]:
df_first_name.shape

(100787, 2)

In [9]:
df_novo = df.alternative_names_list.apply(pd.Series) \
    .merge(df, right_index = True, left_index = True) \
    .drop(["alternative_names_list"], axis = 1) \
    .melt(id_vars = ['classification'], value_name = "first_name") \
    .drop("variable", axis = 1) \
    .dropna()

In [10]:
df_novo.shape

(519852, 2)

In [11]:
df_novo = df_novo.append(df_first_name, sort=True).reset_index(drop=True)

In [12]:
df_nomes_comp = pd.read_csv('nomes_unk.csv', index_col=0)
df_novo = df_novo.append(df_nomes_comp)

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [13]:
df_novo.first_name = df_novo.first_name.str.lower()

df_novo.classification[df_novo.classification=='M'] = 0

df_novo.classification[df_novo.classification=='F'] = 1

In [14]:
df_novo=df_novo[['first_name', 'classification']]

In [15]:
df_novo.reset_index(drop=True, inplace=True)

In [16]:
df_novo.to_csv('custom.txt', index=False)